<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-button (click)="back()">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-title>Ionic Blank</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content *ngIf= "(post$ | async) as post">
        <!-- <ion-item detail button *ngFor="let post of post$ | async"> -->
        <!-- <ion-item detail button *ngFor="let post of fakeArray | async"> -->
        <ion-item  text-wrap >
          <!-- {{post$ | async | json}}  -->
            <ion-label>
              <ion-text color="primary">
                <h3>{{post?.title}}</h3>
              </ion-text>
              
                <p>{{post?.body}}</p>
              
            </ion-label>
           
          </ion-item>
          <ion-button padding (click)="goUser(post?.userId)">View User Profil</ion-button>
</ion-content>
