<ion-app>
  <ion-split-pane>
    <ion-menu [content]="content">
      <ion-header>
        <ion-toolbar color="primary">
            <ion-buttons slot="end">
                <ion-menu-toggle>
                  <ion-button (click)="menuClose()">
                    <ion-icon slot="icon-only" name="close"></ion-icon>
                  </ion-button>
                </ion-menu-toggle>
            </ion-buttons> 
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content padding>
        menu items
      </ion-content>
    </ion-menu>
    <ion-nav #nav #content main>
      <ion-router-outlet></ion-router-outlet>
    </ion-nav>
  </ion-split-pane>
</ion-app>
